$lightgreen: #89B0AE;
$darkpurp: #555B6E;
$lightgray: #B6B6B6;
$ogwhite: #FAF9F9;
$darkgreen: #BEE3DB;

$bgblue: #F6F8F9;

$datadoveblack: #11151A;

$healcogreen: #30D6B3;

$rugspurple: #333150;

$gradient_paint: linear-gradient(90deg, #BEE3DB, rgba(155,237,255,.16));
$gradient: linear-gradient(90deg, #BEE3DB, #89B0AE);